# scan outputs
*.sarif
*.json
!package.json
!package-lock.json
*.xml
bandit-results.*
semgrep.*
trivy-results.*
checkov-results.*
pip-audit-results.*
npm-audit-results.*
zap-results.*
sbom.*
container-image.tar

# terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/tfplan

# local env
.env
.env.*
*.pem
*.key
*.p12

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
*.swo

# scan outputs
reports/
*.json
!package.json
!package-lock.json
